/* content container style */
.flex-container {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  opacity: 0;
  animation: slideIn 2.5s ease forwards;
}

/* animation */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(0%, -10%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

/* media queries */
@media (max-width: 575.98px) {
  .name-header {
    flex: 3;
  }
  .title-header {
  }
  .nav-bar {
  }
  .profile-pic {
  }
  .bio {
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
}
@media (min-width: 768px) and (max-width: 991.98px) {
}
@media (min-width: 992px) and (max-width: 1199.98px) {
}
@media (min-width: 1200px) {
}
