/* content container style */
.flex-container {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.first-section {
  height: 90vh;
  opacity: 0;
  animation: slideIn 2.5s ease forwards;
}

.fa-arrow-right {
  transform: rotate(90deg);
}

.footer {
  height: 10vh;
  font-size: 2vh;
  animation: bounce;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
}

.name-header {
  font-size: 8vh;
}

.title-header {
  font-size: 3vh;
}

.profile-pic {
  width: 40vh;
  height: 40vh;
}

.bio {
  font-size: 2vh;
}

/* animation */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(0%, -10%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

.animate__animated.animate__bounce {
  --animate-duration: 1.8s;
}
